.edit-center {
  padding-top: 1vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center h1 {
  text-align: center;
}
/* */

.change {
  margin: 2vmax;
  display: flex;
  flex-direction: column;
  position: relative;
}
.loading-div {
  height: 100%;
  width: 100%;
  background-color: black;
}

/* Avatar */

.avatar-preview {
  height: 10vmax;
  width: 10vmax;
  border-radius: 50%;
  margin-bottom: 1vmax;
  object-fit: cover;
}

.change input[type="file"] {
  margin-top: 1em;
}

.changeButton {
  margin-top: 1em;
  padding: 0.5vmax 2vmax;
  background-color: #056d05;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 2.7vmax;
  margin-bottom: 4vmax;
  margin-left: 35%;
}

.change button:hover {
  background-color: #04b404;
}

#avatar-label {
  cursor: pointer;
  position: absolute;
  bottom: 2vmax;
  z-index: 99;
  height: auto;
  width: auto;
  padding: 0.5vmax;
  border-radius: 50%;
  border: 2px solid lightgray;
  background-color: #1d9bf0;
  right: 1.5vmax;
}
