@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap");

:root {
  --bg-color: #000;
  --text-color: white;
  --border-color: #c4c5c5;
  --post-bg-color: rgba(29, 155, 240, 1);
  --search-color: grey;
}

.light-mode {
  --bg-color: white;
  --text-color: black;
  --border-color: #000;
  --post-bg-color: rgba(29, 155, 240, 1);
  --search-color: white;
}
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* background-color: var(--bg-color);
  color: var(--text-color); */
}

#root {
  height: 100%;
}

.profilePage {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-y: hidden;
}
.sidebar,
.center,
.rightbar {
  height: 100%;
  padding-bottom: 20px;
}
/* Sidebar */
.sidebar {
  width: 15%;
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  padding: 2vmax;
  position: relative;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vmax;
}

#moreOptionsDots {
  height: 2.7vmax;
  width: 1.2vmax;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  color: var(--text-color);
  border-radius: 30px;
  cursor: pointer;
  margin-left: 10px;
}

#logo {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 2em;
}

.DotBox {
  padding: 1vmax;
  border: 2px solid lightgray;
  height: 10vmax;
  border-radius: 30px;
  width: 8vmax;
  position: absolute;
  bottom: 13vmax;
  right: 3vmax;
  background-color: var(--bg-color);
}

#logoutBtn {
  width: 6vmax;
  padding: 1vmax;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 10px;
  cursor: pointer;
}

.moreOptionsBox {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  border: 2px solid var(--text-color);
  width: auto;
  height: auto;
  padding: 1vmax;
  border-radius: 20px;
  position: absolute;
  bottom: 22vmax;
  left: 0vmax;
  background-color: var(--bg-color);
  z-index: 99;
}

.moreOptionsBox i,
.tabs i {
  margin-right: 10px;
}

.moreOptionsBox button {
  text-decoration: none;
  color: var(--text-color);
  margin: 2vmax;
  font-size: 1.5em;
  font-weight: 600;
  background-color: var(--bg-color);
  border: none;
  cursor: pointer;
}

#post {
  height: 3vmax;
  width: 10vmax;
  color: white;
  background-color: var(--post-bg-color);
  border-radius: 30px;
  padding: 0.5vmax;
  cursor: pointer;
}

.sidebar-bottom {
  position: absolute;
  bottom: 10vmax;
  left: 4vmax;
}

.tabs button {
  margin: 2vmax;
  font-size: 1.2em;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: none;
  cursor: pointer;
  font-weight: 600;
}

/* Center Page */
.center {
  width: 45%;
  /* height: 45vmax; */
  flex-grow: 1;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

.center::-webkit-scrollbar {
  display: none;
}

.head {
  height: 4vmax;
  display: flex;
  align-items: center;
  margin-left: 2vmax;
}
.head i {
  margin-right: 5vmax;
  font-size: 1.5em;
}
.head button {
  cursor: pointer;
  border: none;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.head span {
  font-size: 1.3em;
  font-weight: 600;
}

.post {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 2vmax;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

#postImage {
  width: 80%;
  height: auto;
  margin-left: 5%;
  border-radius: 30px;
}

.cover-image {
  height: 12vmax;
  width: 100%;
  background-color: grey;
  background-size: cover;
  background-position: center;
}

#avatarImage {
  height: 10vmax;
  width: 10vmax;
  border-radius: 50%;
  position: relative;
  bottom: 5vmax;
  left: 20px;
}

.profile-details {
  margin-left: 20px;
  margin-top: -5vmax;
}
.post-details {
  display: flex;
  justify-content: space-between;
}
.post-details-right {
  margin-right: 5vmax;
}
.post-details-right i {
  font-size: 1.1em;
  cursor: pointer;
  margin-right: 1vmax;
}
.post-details-left {
  display: flex;
}
#post-avatar {
  height: 3vmax;
  width: 3vmax;
  border-radius: 50%;
  margin: 0vmax 1vmax 1vmax 0vmax;
}
.post-details-left h3 {
  margin: 0vmax;
}
.post-details-left p {
  margin-top: 0.2vmax;
  opacity: 0.7;
}

.post-content {
  display: flex;
  flex-direction: column;
}
.post-content p {
  font-family: "Noto Sans Warang Citi", sans-serif;
  margin-left: 3vmax;
  margin-bottom: 2vmax;
}

/* Rightbar */
.rightbar {
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  width: 20%;
  flex-grow: 1;
}

#search {
  width: 17vmax;
  margin-left: 0.8vmax;
  border-radius: 20px;
  background-color: white;
  color: black;
}

.suggest {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  cursor: pointer;
}

#suggestImage {
  height: 4vmax;
  width: 4vmax;
  border-radius: 50%;
  margin: 0px 2vmax;
}

#suggestName {
  margin-bottom: 5px;
  font-size: 1.1em;
}

#suggestUsername {
  opacity: 0.7;
  margin-top: 0px;
}

.rightbar h2 {
  text-align: start;
  margin-left: 2vmax;
  margin-top: 3vmax;
}

.post-popup {
  height: fit-content;
  width: 2vmax;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 1vmax;
  position: absolute;
  top: 4vmax;
  right: 7.5vmax;
}
#post-popup-dots {
  cursor: pointer;
}
#delete-btn {
  border: none;
  background-color: var(--bg-color);
  color: var(--text-color);
}
#delete-btn:hover {
  color: red;
}

.postModel,
.searchModel {
  background-color: var(--bg-color);
  color: var(--text-color);
  z-index: 999;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px white;
  position: absolute;
  height: 27vmax;
  padding: 2vmax 5vmax;
  width: 44vmax;
  top: 20%;
  left: 18.5vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postModel textarea {
  height: 10vmax;
  font-size: 1.2em;
  width: 30vmax;
  font-family: "Noto Sans Warang Citi", sans-serif;
  margin-bottom: 2vmax;
}

#closeDialog {
  position: absolute;
  right: 2vmax;
  top: 1vmax;
  cursor: pointer;
  border-radius: 20px;
  transform: scale(1.2);
  background-color: red;
  color: white;
}
.searchModel {
  height: 30vmax;
  top: 10%;
}
#addImgBtn {
  margin: 2vmax;
  position: absolute;
  bottom: 5.5vmax;
  right: 10vmax;
  cursor: pointer;
  border: none;
}
.searchUser {
  display: flex;
  align-items: center;
}

#searchBtn {
  margin-left: 1vmax;
  margin-top: 0.6vmax;
  height: 3vmax;
  padding: 1vmax;
  border-radius: 15px;
  cursor: pointer;
}
.searchedUser {
  display: flex;
  align-items: center;
  margin: 5vmax 0px;
  cursor: pointer;
  border: 0.5px solid var(--border-color);
  padding: 1vmax 20vmax 1vmax 1vmax;
  border-radius: 10px;
  box-shadow: 2px 2px 2px lightgray;
}
.loader {
  margin-top: 5vmax;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
/* Media Queries */

@media screen and (max-width: 650px) {
  .sidebar-bottom {
    left: 10px;
  }
  .head {
    display: none;
  }
  #dateOfPost {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  #logo {
    font-size: 1.5em;
  }
  .sidebar-bottom {
    left: 0px;
  }
  .tabs button {
    margin-right: 5px;
  }
  .post-details-left,
  .post-details-right {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 490px) {
  #logo {
    display: none;
  }
  .profilePage {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vmax;
    width: 100%;
    border: none;
    height: auto;
  }

  .tabs {
    flex-direction: row;
    width: auto;
    align-items: center;
  }

  .tabs span {
    display: none;
  }

  .sidebar-bottom {
    position: static;
    transform: translate(-30px);
    margin-top: 1vmax;
  }
  .rightbar {
    display: none;
  }
  .center {
    width: 100%;
    flex-grow: 1;
  }
  #post {
    font-size: 10px;
  }
  .DotBox {
    position: absolute;
    top: 60px;
    background-color: var(--bg-color);
    z-index: 99;
    height: 4vmax;
  }
  #moreOptionsDots {
    margin-left: 5px;
    border: none;
  }
  .post-details-left,
  .post-details-right {
    transform: scale(1);
  }
  #dateOfPost {
    display: block;
  }

  #logoutBtn {
    border: none;
  }
  .moreOptionsBox {
    position: absolute;
    top: 70px;
    background-color: var(--bg-color);
    z-index: 99;
    height: 25vmax;
  }
}

@media screen and (max-width: 380px) {
  .tabs button {
    margin-left: 1px;
    margin-right: 1px;
  }
}
@media screen and (max-width: 320px) {
  #dateOfPost {
    display: none;
  }
}
@media screen and (max-width: 270px) {
  .tabs button {
    transform: scale(0.8);
    margin-left: 0px;
    margin-right: 0px;
  }
  #post {
    transform: scale(0.7);
    margin-left: 2px;
  }
}
