

.info {
  height: 100%;
  width: 100%;
  
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info form{
  margin-top: 2%;
  border: 2px solid lightgray;
  height: fit-content;
  width: fit-content;
  padding-bottom: 2vmax;
}



.info-details {
  display: flex;
  justify-content: space-around;
}

.info-details-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10vmax;
  margin-right: 10vmax;
}

label {
  opacity: 0.7;
}

.info-fields {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

h2 {
  text-align: center;
  margin: 25px 0px;
}

input {
  height: 1.5em;
  width: 30em;
  margin-top: 1em;
  border-radius: 5px;
  padding: 10px;
}

.info input[type="number"],
select {
  width: 7em;
}

.info-smaller-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.info-smaller-fields label {
  margin-right: 10px;
}

textarea {
  resize: none;
  margin-top: 1em;
  border-radius: 5px;
  padding: 10px;
  width: 30vmax;
}

#info-photo-upload {
  height: 10vmax;
  width: 10vmax;
  border-radius: 50%;
}

#info-img-field {
  flex-direction: row;
  margin-bottom: 5vmax;
}

.info-btn {
  padding: 1vmax;
  background-color: rgb(5, 92, 5);
  color: white;
  width: 32vmax;
  cursor: pointer;
  border-radius: 7px;
  margin: 2vmax 0vmax;
}

.info-btn:hover {
  box-shadow: 2px 2px 5px rgb(20, 212, 20);
}


@media screen and (max-width:1000px) {
  .info{
    padding: 3vmax 1vmax;
  }
  .info-details{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-details-right{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #info-img-field{
    /* transform: translateX(12vmax); */
    margin-left: 10vmax;
    margin-top: 3vmax;
  }
}


@media screen and (max-width: 740px) {
  .info-details-left{
    margin: 0vmax 5vmax;
  }
  #info-img-field{
    margin-left: 3vmax;
  }
}

@media screen and (max-width: 610px) {
  .info-details-left{
    margin: 0vmax 2vmax;
  }
  .info input, .info textarea, .info-btn{
    width: 20vmax;
  }
  .info-smaller-fields{
    display: flex;
    flex-direction: column;
  }
  .info select{
    margin-top: 3vmax;
  }
}

@media screen and (max-width: 480px) {
  .info{
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .info form{
    border: none;
  }
  #info-img-field{
    margin-left: 7vmax;
  }
}
