@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");


html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.signup-main-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: black;
  color: white;
}
.right {
  /* width: 40%; */
  padding: 1vmax 5vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid lightgrey;
  border-radius: 10px;
  margin-top: 2%;
}
.r2 {
  height: 40%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -7%;
}
label {
  opacity: 0.7;
}
.field {
  display: flex;
  flex-direction: column;
  margin: 6px 0px;
}

input {
  height: 2em;
  margin-top: 1em;
  border-radius: 5px;
  padding: 10px;
}



#sup-btn {
  cursor: pointer;
  width: 100%;
  height: 3em;
  border-radius: 10px;
  color: white;
  background-color: #311f57;
}
.r3 button:hover {
  background-color: rgb(120, 230, 120);
  color: black;
}
.r3 {
  margin-top: 35%;
}
.r1 h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  margin: 20px;
}
.r1 p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  word-spacing: 0.1em;
  opacity: 0.9;
  margin-bottom: 2vmax;
  text-align: center;
}

.r3 p {
  color: gray;
}
.r3 a {
  color: yellow;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media screen and (max-width: 500px){
  .right{
    transform: scale(0.8);
  }
}
@media screen and (max-width: 500px){
  .right{
    transform: scale(0.7);
  }
}
@media screen and (max-width: 340px){
  .right{
    border: none;
  }
}
@media screen and (max-width: 314px) {
  .signup-main-box input{
    width: 60vmax;
  }
  #sup-btn{
    margin-top: 5vmax;
  }
}
@media screen and (max-width: 280px){
  .right{
    transform: scale(0.5);
  }
}

@media  screen and (min-height: 800px) and (max-width: 912px) {
  .right{
    border: none;
  }
}
